@import "../../../../shared/styles/styles.scss";

.Cast {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    // grid-auto-rows: minmax(auto, auto);
    justify-content: center;
    grid-gap: 20px;

    padding: 40px 0;
    margin-top: 30px;
    margin-bottom: 30px;

    height: 500px;
    border: 3px solid tomato;
    overflow-y: scroll;
  }
}
